<div class="sidebar-wrapper">
    <nav class="mt-2" aria-label="Main navigation">
        <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" data-accordion="false" id="navigation">
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-speedometer"></i>
                    <p>
                        Dashboard Sidebar
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/dashboard" class="nav-link">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Dashboard v1</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="users" class="nav-link">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Usuários</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/usergroup" class="nav-link">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>Grupo de Usuários</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>