<div class="sidebar-wrapper">
    <nav class="mt-2" aria-label="Main navigation">
        <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" data-accordion="false" id="navigation">
            <li class="nav-item">
                <a routerLink="/dashboard" class="nav-link">
                    <i class="nav-icon bi bi-file-earmark"></i>
                    <p>Home</p>
                </a>
            </li>
            
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle-fill"></i>
                    <p>
                        Pessoas
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>
                                Famílias
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a routerLink="/responsible" class="nav-link">
                                    <i class="nav-icon bi bi-record-circle-fill"></i>
                                    <p>Responsáveis</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/family" class="nav-link">
                                    <i class="nav-icon bi bi-record-circle-fill"></i>
                                    <p>Famílias</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/beneficiaries" class="nav-link">
                                    <i class="nav-icon bi bi-record-circle-fill"></i>
                                    <p>Beneficiários</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>
                                Parceiros
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a routerLink="/supplier" class="nav-link">
                                    <i class="nav-icon bi bi-record-circle-fill"></i>
                                    <p>Fornecedores</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/collaborator" class="nav-link">
                                    <i class="nav-icon bi bi-record-circle-fill"></i>
                                    <p>Colaboradores</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/branchoffice" class="nav-link">
                                    <i class="nav-icon bi bi-record-circle-fill"></i>
                                    <p>Filiais</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon bi bi-circle-fill"></i>
                    <p>
                        Cadastros
                        <i class="nav-arrow bi bi-chevron-right"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon bi bi-circle"></i>
                            <p>
                                Segurança
                                <i class="nav-arrow bi bi-chevron-right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a routerLink="/usergroup" class="nav-link">
                                    <i class="nav-icon bi bi-record-circle-fill"></i>
                                    <p>Grupo de Usuários</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a routerLink="/users" class="nav-link">
                                    <i class="nav-icon bi bi-record-circle-fill"></i>
                                    <p>Usuários</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon bi bi-record-circle-fill"></i>
                                    <p>Alterar Senha</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>