<body class="login-page bg-body-secondary">
    <main class="login-box">
        <h1 class="login-logo">
            <a href="../index2.html"><b>Gente Inocente</b>IGI</a>
        </h1>

        <div class="card-body login-card-body">
            <p class="login-box-msg">
                Esqueceu sua senha? Aqui você pode recuperar facilmente uma nova senha.
            </p>

            <form action="../examples/login.html" method="post">
                <label class="visually-hidden" for="forgotEmail">Email</label>
                <div class="input-group mb-3">
                    <input id="forgotEmail" type="email" class="form-control" placeholder="Email" />
                    <div class="input-group-text">
                        <span class="bi bi-envelope"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Solicitar nova senha</button>
                        </div>
                    </div>
                </div>
            </form>

            <!-- <p class="mt-3 mb-1">
                    <a routerLink="/login">Entrar</a>
                </p> -->
            <!-- <p class="mb-0">
                    <a routerLink="/register" class="text-center"> Cadastrar novo membro </a>
                </p> -->
        </div>

    </main>
</body>